{% extends 'base.html' %}

{% block extra_css_block %}
<link rel="stylesheet" href="/site_media/css/player.css" type="text/css" media="screen" />    
{% endblock %}

{% block extra_js_block %}
<script type="text/javascript">
  
soundManager.url = '/site_media/swf/'; // directory where SM2 .SWFs live
soundManager.debugMode = false;
soundManager.defaultOptions.usePeakData = true;
soundManager.defaultOptions.useWaveformData = true;
soundManager.defaultOptions.useEQData = true;
soundManager.defaultOptions.allowPolling = true;
soundManager.defaultOptions.useFastPolling = true;// fast timer=higher callback frequency, combine w/useHighPerformance
soundManager.defaultOptions.useHighPerformance = true;// position:fixed flash movie for faster JS/flash callbacks

var loadedSamples = Array();
var pastelArray = Array('#910100','#F0813D', '#FFF8DC', '#89E34E', '#41E3FC', '#E8DB47', '#4AFF59', '#7F3CFF', '#E85997', '#41FFD8');
$(function(){
    var startingIndex = Math.floor(Math.random()*(pastelArray.length));
    
    $('#add_sample_button').bind('click', function() {
        var excludeString = loadedSamples.join(',');
    
        $.getJSON("/samples/random?exclude=[" + excludeString + "]", function(data) {
            soundManager.onready(function(oStatus) {
                if (oStatus.success) {
                    if(data.error == undefined) {
                        loadedSamples.push(data.id);
                        var id = "sample-" + data.id;
                        var mySound = soundManager.createSound({
                            id: id,
                            url: data.url,
                            onfinish: function() {
                                if(this.loop) 
                                    this.play();
                                $('#' + id + ' .progress').css("width", "0%");
                            },
                            whileplaying:function() {
                                var progress = (this.position / this.durationEstimate) * 100;
                                $('#' + id + ' .progress').css("width", progress + '%');
                            }
                        });
                        
                        mySound.loop = false;
                        
                        var backgroundColor = pastelArray[startingIndex];
                        startingIndex = (startingIndex + 1) % pastelArray.length;
                        var progressColor = pastelArray[startingIndex];
                        startingIndex = (startingIndex + 1) % pastelArray.length;
                        mySound.backgroundColor = backgroundColor;
                        var html = '<div id="' + id + '" class="player_wrapper"><div class="loop_toggle" style="background-color:' + progressColor 
                            + '" id="loop_' + id + '"></div>' +
                            '<div class="progress" style="background-color:' + progressColor + 
                            '"></div><div class="player" style="background-color:' + backgroundColor + '"><p>' + data.name + 
                            '</p></div></div>';
                        $('.samples').append(html);

                        $('#loop_' + id).bind('click', function(){
                            if(mySound.loop) {
                                mySound.loop = false;
                                $(this).css('background-color', progressColor);
                            } else {
                                mySound.loop = true;
                                $(this).css('background-color', '' + mySound.backgroundColor);
                            }
                        })
                        $('#' + id).bind('click', function() {
                            soundManager.togglePause(id);
                        });
                        
                        var players = $('div.player_wrapper');
                        var viewportHeight = window.innerHeight;
                        var playerHeight = (viewportHeight/players.size()) - 1;
                        players.animate({ 
                            height: playerHeight + 'px'
                          }, 300 );
                    }
                }
            });
        });
    });
});

</script>

{% endblock %}

{% block content %}
<img id="add_sample_button" src="/site_media/images/add_sample.png" />

<div class="samples">

</div>

{% endblock content %}
