<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{% block title_block %}Untitled Audio Project{% endblock %}</title>
    
    <link href="/site_media/css/style.css" type="text/css" rel="stylesheet" />
    {% block extra_css_block %}
    {% endblock %}
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <!-- // <script type="text/javascript" src="/site_media/js/soundmanager2-nodebug-jsmin.js"></script> -->
    {% block extra_js_block %}
    {% endblock %}
    
</head>

<body>

{% block content %}    
{% endblock content %}

</body>

</html>