.player_wrapper {
    background:     #6AB39F;    
    height:         75px;
}

.player {
    margin:         0;
    color:          #FFF;
    font-size:      1em;
    padding:        5px 0px 5px 0px;
    height:         65px;
    margin-top:     -75px;
}

.player p {
    margin-bottom:  5px;
    padding:        0px;
}

.progress {
    width:          0%;
    height:         75px;
    background:     #349809;
    opacity:        .5;
}