#add_sample_button {
    margin:         1% 0% 1% 3%;
}

.loop_toggle {
    position: 		absolute;
    width:          3%;
    height:         100%;
    background:     #FFFFFF url('/site_media/images/stripe.png') repeat;
	z-index:		200;
}

.player_wrapper {
    width:          100%;
    height:         0px;
	border-bottom:  1px solid #aaa;
	position:		relative;
}

.player {
    margin:         0;
    font-size:      2.5em;
    height:         100%;
    opacity:        1;
    width:          96%;
    line-height:    2.5em;
    padding-left:   4%;
    text-transform: uppercase;
	text-shadow: rgba(0, 0, 0, 0.398438) 0px 2px 5px;
}

.player p {
    margin:         0px;    
    padding:        0px;
}

.progress {
    width:          0%;
    opacity:        .5;
	height:			100%;
	position: 		absolute;
}

#add_sample_button {
	position: absolute;
	top: 10px;
	left: 1000px;
	z-index: 500;
}